<button mat-button [matMenuTriggerFor]="menu">Menu</button>


<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
      <button onclick="window.location.href='https://veiculos.mercadolivre.com.br/veiculos-pesados/maquinaria-agricola/colheitadeiras/' ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2iWNziA-LbMfA77SlQy0krFaPZp0Giy7IqAC0pMYG2QvscG4ECg">
    </button>
    <button onclick="window.location.href='https://pt.wikipedia.org/wiki/Agr%C3%ADcola' ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3KT6KyyOhuBThy6TC6UiCumOCCZMWCUpPj3P48TOClmwirM3aNA">
    </button>
  </ng-template>
</mat-menu>